@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-area="" asp-controller="DiscordServers" asp-action="Index">DiscordServers</a>
        <a asp-area="" asp-controller="Catagories" asp-action="Index">Catagories</a>
    </p>
</div>
